<!-- Top Bar -->
<div class="top-bar">
    <div class="contact-info">
      <span><i class="fas fa-phone"></i> +216 50281701</span>
      <span><i class="fas fa-envelope"></i> hamedblggmail.com</span>
      <span><i class="fas fa-map-marker-alt"></i> Sidi Bouzid, Tunisia</span>
    </div>
    <div class="top-right">
      <button class="language-btn">Eng <i class="fas fa-chevron-down"></i></button>
      <button class="appointment-btn" routerLink="/formulaire">MAKE APPOINTMENT</button>
    </div>
  </div>

  <!-- Navigation Bar -->
  <nav class="main-nav">
    <div class="logo">
      <img src="assets/images/logo1.png" alt="Logo">
      <span> PhysicMed</span>
    </div>
    <ul class="nav-links">
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        <li><a routerLink="/service" routerLinkActive="active">Services</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Contact Us</a></li>
      </ul>
    <div class="nav-icons">
        <button class="connexion-btn" routerLink="/connexion">Connexion</button>    </div>
  </nav>
